
$color_0:rgb(00, 00, 00);
$color_1:rgb(29, 29, 29);
$color_2:rgb(77, 77, 77);
$color_3:rgb(175, 175, 175);

$width_categories:300px;
$corner_size: 5px;
$spacing_s  : 5px;
$spacing_m  : 10px;
$spacing_l  : 20px;

$font_family_0: sans-serif;












/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


button {
    background-color: white;
    padding         : 10px 20px;
    border-radius   : 10px;
    border          : none;
    appearance      : none;
    font-size       : 1.3rem;
    box-shadow      : 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor    : pointer;
    opacity   : 0.9;
}
  
button:hover {
    transform: scale(1.05);
    opacity: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

a:hover {
    opacity: 1;
    text-decoration: none;
}
  
.Hello {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
  
.centered {
    display        : flex;
    height         : 100%;
    align-items    : center;
    justify-content: center;
}
  
.centered_column {
    display       : flex;
    flex-direction: column;
}
  
.small_circle {
    background-color: rgb(83, 83, 83);
    width           : 20px;
    height          : 20px;
    border-radius   : 20px;
    display         : inline-block;
    margin-top      : 5px;
    margin-bottom   : 5px;
    margin-right    : 15px;
}
  
.button_category {
    background-color: rgb(32, 32, 32);
    display         : flex;
    align-items     : center;
    /* padding-left    : 5px; */
    /* padding-right   : 5px; */
    padding-top   : 5px;
    padding-bottom   : 5px;
    /* padding: 5px; */
    width           : 300px;
    /* position: relative; */
}
  
  
  
.button_color_picker {
    background-color: rgb(255, 0, 0);
    width           : 20px;
    height          : 20px;
    border-radius   : 4px;
    display         : inline-block;
    margin-top      : 5px;
    margin-bottom   : 5px;
    margin-right    : 15px;
}
  
.spacer_5 {
    width : 5px;
    height: 5px;
}
  
.spacer_10 {
    width : 10px;
    height: 10px;
  }
  
.spacer_20 {
    width : 20px;
    height: 20px;
}
  
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select  : none; /* Safari */
    -khtml-user-select   : none; /* Konqueror HTML */
    -moz-user-select     : none; /* Old versions of Firefox */
    -ms-user-select      : none; /* Internet Explorer/Edge */
    user-select          : none; /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

.nodrag {
    user-drag          : none;
    -webkit-user-drag  : none;
    user-select        : none;
    -moz-user-select   : none;
    -webkit-user-select: none;
    -ms-user-select    : none;
}

.empty {
}
  
.hidden {
    display: none;
}
  
.to_the_right {
    margin-left : auto;
    margin-right: 5px;
}
  
table {
    table-layout: fixed;
    width       : 100%;
}
  
td {
    text-align    : center;
    vertical-align: middle;
}

.corner_top_right {
    position: absolute;
    top     : $spacing_m;
    right   : $spacing_m;
}

.icon_circular_background {
    background-color: $color_2;
    width           : 28px;
    height          : 28px;
    border-radius   : 50%;

    display        : flex;
    justify-content: center;
    align-items    : center;
}

.icon_circular_background:hover {
    background-color: $color_3;
}







body {
    position       : relative;
    color          : $color_3;
    height         : 100vh;
    background     : rgba(0, 0, 0, 0.664);
    font-family    : $font_family_0;
    overflow       : hidden;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 0;
}


.container_options {
    background-color       : $color_1;
    width                  : 300px;
    border-top-left-radius : $corner_size;
    border-top-right-radius: $corner_size;
}

.container_customhightlights {
    background-color          : $color_1;
    width                     : 300px;
    border-bottom-left-radius : $corner_size;
    border-bottom-right-radius: $corner_size;
    display                   : flex;
}


#tooltip {
    position        : absolute;
    padding         : 10px;
    background-color: $color_1;
    border-radius   : $corner_size;
    align-items     : center;
    align-content   : center;
    text-align      : center;
    font-size       : 17px;
  
    display: none;
    pointer-events: none;
}

#tooltip_date {
    position        : absolute;
    padding         : 10px;
    background-color: $color_1;
    border-radius   : $corner_size;
    align-items     : center;
    align-content   : center;
    text-align      : center;
    font-size       : 17px;
  
    display: none;
    pointer-events: none;
}

.button_category {
    background-color: $color_1;
    display         : flex;
    align-items     : center;
    padding-top     : 0px;
    padding-bottom  : 0px;
    width           : $width_categories;
}

.decorative_category_up {
    background-color       : $color_1;
    height                 : 10px;
    width                  : $width_categories;
    border-top-left-radius : $corner_size;
    border-top-right-radius: $corner_size;
}

.decorative_category_bottom {
    background-color       : $color_1;
    height                 : 10px;
    width                  : $width_categories;
    border-bottom-left-radius : $corner_size;
    border-bottom-right-radius: $corner_size;
}

.button_category:hover {
    background-color: $color_2;
}

#button_menu {
    position: absolute;
    top     : 30px;
    right   : 30px;
    width   : 40px;
    // background-color: red;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

#button_refresh {
    position: absolute;
    top     : 30px * 2 + $spacing_m;
    right   : 30px;
    width   : 40px;
    // background-color: red;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.container_menu_main {
    position          : relative;
    width             : 40%;
    height            : 30%;
    background-color  : $color_1;
    pointer-events    : all;
    border-radius     : $corner_size;
    padding           : $spacing_m;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,1.0);
    box-shadow        : 0px 0px 40px 0px rgba(0,0,0,1.0);
}

.centered_panel {
    display        : flex;
    height         : 100%;
    width          : 100%;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    pointer-events : none;
}

.customeTheme {
    // border-top-color: orange !important;
    // border-top-style: solid !important;
    // border-top-width: 6px !important;

    // background-color: red !important;
    font-family     : $font_family_0 !important;
}