/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: rgba(0, 0, 0, 0.664);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.centered {
  display        : flex;
  height         : 100%;
  align-items    : center;
  justify-content: center;
}

.small_circle {
  background-color: rgb(83, 83, 83);
  width           : 20px;
  height          : 20px;
  border-radius   : 20px;
  display         : inline-block;
  margin-top      : 5px;
  margin-bottom   : 5px;
  margin-right    : 15px;
}

.button_category {
  background-color: rgb(32, 32, 32);
  display         : flex;
  align-items     : center;
  /* padding-left    : 5px; */
  /* padding-right   : 5px; */
  padding-top   : 5px;
  padding-bottom   : 5px;
  /* padding: 5px; */
  width           : 300px;
  /* position: relative; */
}

.button_category:hover {
  background-color: rgb(59, 59, 59);
}

.button_color_picker {
  background-color: rgb(255, 0, 0);
  width           : 20px;
  height          : 20px;
  border-radius   : 4px;
  display         : inline-block;
  margin-top      : 5px;
  margin-bottom   : 5px;
  margin-right    : 15px;
  /* float:right; */

  /* position: absolute;
  right: 0px; */
}

.spacer_5 {
  width:5px
}

.spacer_10 {
  width:10px
}

.noselect {
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select  : none;  /* Safari */
  -khtml-user-select   : none;  /* Konqueror HTML */
  -moz-user-select     : none;  /* Old versions of Firefox */
  -ms-user-select      : none;  /* Internet Explorer/Edge */
  user-select          : none;  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.empty {

}

.hidden {
  display: none;
}