
$color_0:rgb(00, 00, 00);
$color_1:rgb(29, 29, 29);
$color_2:rgb(77, 77, 77);
$color_4:rgb(175, 175, 175);

$corner_size: 5px;
$spacing_s  : 5px;
$spacing_m  : 10px;
$spacing_l  : 20px;

$font_family_0: sans-serif;

body {
    position       : relative;
    color          : $color_4;
    height         : 100vh;
    background     : rgba(0, 0, 0, 0.664);
    font-family    : $font_family_0;
    overflow       : hidden;
    display        : flex;
    justify-content: center;
    align-items    : center;
}


.container_options {
    background-color       : $color_1;
    width                  : 300px;
    border-top-left-radius : $corner_size;
    border-top-right-radius: $corner_size;
}

#tooltip {
    position        : absolute;
    padding         : 10px;
    background-color: $color_1;
    border-radius   : $corner_size;
    align-items     : center;
    align-content   : center;
    text-align      : center;
    font-size       : 17px;
  
    display: none;
}

.button_category {
    background-color: $color_1;
    display         : flex;
    align-items     : center;
    padding-top     : 5px;
    padding-bottom  : 5px;
    width           : 300px;
}

.button_category:hover {
    background-color: $color_2;
}

.button_menu {
    position: absolute;
    top     : 30px;
    right   : 30px;
    // background-color: red;
}

.container_menu_main {
    width             : 30%;
    height            : 30%;
    background-color  : $color_1;
    pointer-events    : all;
    border-radius     : $corner_size;
    padding           : $spacing_m;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,1.0);
    box-shadow        : 0px 0px 40px 0px rgba(0,0,0,1.0);
}

.centered_panel {
    display        : flex;
    height         : 100%;
    width          : 100%;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    pointer-events : none;
}

.customeTheme {
    // border-top-color: orange !important;
    // border-top-style: solid !important;
    // border-top-width: 6px !important;

    // background-color: red !important;
    font-family     : $font_family_0 !important;
}